<div class="card" style="background-color:rgb(237, 239, 242);height: 350px;width: 400px">
    <div class="card-body">
        <form (update)="getValue()">
            <div class="row-2">
                <div class="text-center">
                    <h2>Update User</h2>
                </div>
            </div>
            <div class="row-2">
                <input [(ngModel)]="id" name="updatedBy" placeholder="Enter id to update">
            </div>
            <div class="row-2">
                <input [(ngModel)]="lname" name="lname" placeholder="Enter The First Name">
            </div>
            <div class="row-2">
                    <input [(ngModel)]="fname" name="fname" placeholder="Enter The Last Name">
            </div>
            <div class="row-2">
                <input [(ngModel)]="email" name="email" placeholder="Enter The Email Id">
            </div>
            <div class="row-2">
                <div class="row">
                    <div class="col-6">
                        <button type="cancel">CANCEL</button>
                    </div>
                    <div class="col-6">
                        <button type="update">UPDATE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!--     <form (update)="getValue()">
        <div align="center" style="padding: 10px">

            <div class="col">


                <div class="row-2">

                    <input [(ngModel)]="id" name="updatedBy" placeholder="Enter id to update">

                </div>

                <div class="row-2">

                    <input [(ngModel)]="lname" name="lname" placeholder="Enter The First Name">

                </div>

                <div class="row-2">

                    <input [(ngModel)]="fname" name="fname" placeholder="Enter The Last Name">

                </div>

                <div class="row-2">

                    <input [(ngModel)]="email" name="email" placeholder="Enter The Email Id">

                </div>


            </div>
            <div class="row">
                <div class="col-6" style="padding: 15px">
                    <button type="cancel">CANCEL</button>
                </div>
                <div class="col-6" style="padding: 15px">
                    <button type="update">UPDATE</button>
                </div>

            </div>
        </div>
    </form>

 -->