Inside
{
        background-color:rgb(9, 45, 227);
        height: 30px;
        width: 50px; 
        color: white;
        font-size: 10px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.post-card
{
        padding: 20px;
        height: 200px;
        width: 350px;
        /*background-color: rgb(237, 240, 245);*/
}

.input
{
        width: 50px;
}

.get
{
        background-color:rgb(9, 45, 227);
        height: 30px;
        width: 50px;
        color: white;
}
