<div class="text-center card">
    <table class="table">
        <tr id="heading">
            <td><b>Qualification</b></td>
            <td><b>School/College</b></td>
            <td><b>Board/University</b></td>
            <td><b>Percentage/GPA</b></td>
            <td><b>Passing Year</b></td>
        </tr>
        <tr>
            <td>S.S.C</td>
            <td>Kendriya Vidyalaya CME</td>
            <td>CBSE</td>
            <td>89</td>
            <td>2012</td>
        </tr>
        <tr>
            <td>H.S.C</td>
            <td>Kendriya Vidyalaya CME</td>
            <td>CBSE</td>
            <td>78</td>
            <td>2014</td>
        </tr>
        <tr>
            <td>BSc(Electronic Science)</td>
            <td>Fergusson College,Pune</td>
            <td>Pune University</td>
            <td>81</td>
            <td>2017</td>
        </tr>
        <tr>
            <td>MCA</td>
            <td>Pune University Computer Science Department</td>
            <td>Pune University</td>
            <td>6.15</td>
            <td>2020</td>

        </tr>
    </table>
</div><br>